body {
	background-image: url("api/media/background.jpg");
	background-size: cover;
	color: white;
}

a {
	text-decoration: none;
	display: inline-block;
	color: #f69901;
	font-weight: bold;
	margin: 1px;
	padding-bottom: 2px;
	text-align: center;
}

li a {
	width: 95%;
	height: 100%;
}

.active {
	border-bottom: 2px solid #f69901;
}

ul {
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	/*background-color: #ff3300;*/
}

li {
	height: 3%;
	display: block;
	flex-grow: 1;
	padding-bottom: 2px;
}

form {
	background-color: rgba(255, 255, 255, 0.6);
	padding: 5%;
	color: white;
	font-weight: bold;
	width: 40%;
	margin-left: 25%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

input[type = "text"],
select,
input[type = "password"] {
	border-radius: 5px;
	margin: 20px 0px;
	padding: 6px;
}

input[type = "text"]:focus,
input[type = "password"]:focus {
	outline: 2px solid #0033cc;
}

input[type = "submit"] {
	border: 2px solid #0b1740;
	padding: 5px;
	color: #0b1740;
}

input[type = "submit"]:hover {
	background-color: #0b1740;
	color: white;
	border-color: white;
}

a:hover {
	border-bottom: 2px solid #f69901;
}

th {
	background-color: white;
	color: #0b1407;
}

td {
	background-color: #0066ff;
	color: white;
	text-align: center;
}

h1 {
	color: white;
	text-align: center;
}

label {
	color: #0b1407;
}

table {
	width: 40%;
	margin-left: 25%;
	border-collapse: collapse;
}
