body {
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url("api/media/supermarketcart.jpg");
	background-size: cover;
	color: white;
}

a {
	text-decoration: none;
	display: inline-block;
	color: mintcream;
	font-weight: bold;
	margin: 1px;
	padding-bottom: 2px;
	text-align: center;
}

li a {
	width: 95%;
	height: 100%;
}

.active {
	border-bottom: 2px solid floralwhite;
}

ul {
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	/*background-color: #ff3300;*/
}

li {
	height: 3%;
	display: block;
	flex-grow: 1;
	padding-bottom: 2px;
}

form {
	background-color: rgba(255, 255, 255, 0.5);
	padding: 5%;
	color: white;
	font-weight: bold;
	width: 40%;
	margin-left: 25%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

input[type = "text"],
select,
input[type = "password"] {
	border-radius: 5px;
	margin: 20px 0px;
	padding: 6px;
}

input[type = "text"]:focus,
input[type = "password"]:focus {
	outline: 2px solid #0033cc;
}

input[type = "submit"] {
	border-radius: 6px;
	padding: 10px;
	background-color: navy;
	box-shadow: 1px 2px grey;
	color: white;
	font-weight: bold;
}

input[type = "submit"]:hover {
	background-color: white;
	color: navy;
	border-color: navy;
	box-shadow: none;
}

a:hover {
	border-bottom: 2px solid #f69901;
}

th {
	background-color: white;
	color: maroon;
	border: 3px solid maroon;
	padding: 10px;
}

td {
	background-color: maroon;
	color: white;
	border: 1px solid white;
	text-align: center;
	padding: 10px;
}

h1 {
	color: white;
	text-align: center;
}

label {
	color: #0b1407;
}

table {
	width: 40%;
	margin-left: 25%;
	border-collapse: collapse;
}

@media screen and (max-width: 900px) {
	li {
		width: 100%;
		border: none;
		padding: 5px 0px;
		background-color: rgba(255, 255, 255, 0.5);
	}

	ul {
		padding-left: 0px;
	}

	.active {
		color: navy;
		border: none;
	}

	a:hover {
		border: none;
		color: maroon;
	}
}

@media screen and (max-width: 500px) {
	table {
		margin-left: 0%;
		width: 90%;
	}

	td,
	th {
		padding: 10px 0px;
	}

	form {
		margin-left: 0%;
		width: 90%;
	}
}
